---
title: Offline Verification with 121 and Kobo Toolbox
hide:
  - toc
---

There are a few steps needed to make sure you can do offline verification, as outlined below.

## Before Offline Verification

The first step is to prepare kobo for offline verification. It includes the following steps:

### Prepare verification form & approve form

Before starting verification, you need to tell the 121 account manager or support team what information you want to validate. The 121 support team will reach out to you to determine the requirements for the offline verification. Then, the 121 support team will setup a kobo form and share with you so that you can approve the form.

### Upload 121 data & Handover

Once the form is approved, the 121 support team will make sure that all verification data is uploaded in kobo. After that the 121 support team will do a training of trainers, so that you can train your volunteers or enumerators to use the form.

### Final checks

After you have trained your volunteers, you are almost ready to start field verification. But before you start, there are two crucial steps:

- :fontawesome-solid-triangle-exclamation: **Inform 121 support that field verification is starting**: the support team will make sure the latest data is available in kobo for verification.
- :fontawesome-solid-triangle-exclamation: **Download final version of the forms all devices** once the 121 support team has informed you that the latest data is available.

!!! danger "Important"
    Please keep in mind that all data collected during field verification will overwrite existing information in the 121 platform. It is advisable to make as little changes as possible directly in the 121 platform during data verification, so that no unnecessary mistakes are made.

## During Offline Verification

Use your SOPs to verify collected information.

Some tips:

- Make sure each device is loaded with the latest kobo form
- Test the form on each device
- Make sure devices are properly charged and/or bring a charger
- Make sure volunteers and enumerators are trained properly

## After Offline Verification

### Upload forms

Once you have done verification, please connect the devices to the internet and make sure to upload **ALL** collected kobo forms. Then verify you can see the changes reflected in the 121 platform.

---

-8<- "docs/_snippets/contact-support.md"
