---
title: Vérification hors ligne avec 121 et Kobo Toolbox
hide:
  - toc
---

Pour faciliter et fluidifier la vérification hors ligne, quelques étapes sont nécessaires pour vous assurer de pouvoir effectuer une vérification hors ligne. Voici un guide étape par étape.

!!! Success "Gardez l'équipe d'assistance 121 informée"
    Le processus de vérification hors ligne nécessite une bonne coordination avec notre équipe d'assistance et votre équipe de terrain. Pour assurer le bon déroulement du processus, nous élaborerons un plan de communication clair avec votre équipe locale.

## Avant la vérification hors ligne

La **première étape** consiste à préparer **Kobo pour la vérification hors ligne**. Il comprend les étapes suivantes :

### Préparer et approuver le formulaire de vérification

Avant de commencer la vérification, vous devez **informer l'équipe d'assistance** des informations que vous devez vérifier lors de la vérification.

L'équipe d'assistance 121 vous contactera pour **déterminer les exigences de la vérification hors ligne**, configurer un formulaire Kobo et le partager afin que vous puissiez l'approuver.

### Télécharger les données 121 et préparez-vous à la formation

Une fois que le **formulaire est approuvé**, l'équipe d'assistance 121 **téléchargera toutes les données de vérification** dans Kobo. Après cela, nous ferons une session de formation des formateurs, afin que vous puissiez former vos bénévoles ou énumérateurs à l'utilisation du formulaire.

### Contrôles finaux

Une fois que vous avez formé vos bénévoles, vous êtes presque prêt à commencer la vérification sur le terrain. **Avant de commencer**, il y a deux étapes cruciales à accomplir :

- :fontawesome-solid-triangle-exclamation: **Informez l'assistance 121 que la vérification sur le terrain est prête à commencer** : notre équipe d'assistance s'assurera que les dernières données sont disponibles dans Kobo pour le processus de vérification.
- :fontawesome-solid-triangle-exclamation: **Téléchargez la version mise à jour et finale des formulaires sur tous les appareils** une fois que notre équipe d'assistance 121 vous aura informé que les dernières données sont disponibles.

!!! danger "Important"
    Veuillez garder à l'esprit que **toutes les données collectées lors de la vérification sur le terrain remplaceront les informations existantes dans la plateforme 121**. Il est conseillé de faire aussi peu de changements que possible directement dans la plateforme 121 pendant la vérification des données, pour ne pas faire d'erreurs inutiles.

## Pendant la vérification hors ligne

Utilisez vos POS habituels pour vérifier les informations collectées. Voici quelques conseils pour assurer le bon déroulement de tout :

- Assurez-vous que tous les appareils ont la version la plus récente du formulaire Kobo ;
- Testez le formulaire sur chaque appareil pour confirmer qu'il fonctionne correctement ;
- Assurez-vous que les appareils sont correctement chargés et/ou apportez des chargeurs de secours ;
- Assurez-vous que les bénévoles et énumérateurs sont correctement formés.

## Après la vérification hors ligne

### Télécharger les formulaires

Une fois la vérification terminée, connectez vos appareils à Internet et assurez-vous de télécharger **TOUS** les formulaires Kobo collectés. Vérifiez ensuite que tous les changements sont correctement reflétés sur la plateforme 121.

---

-8<- "docs/fr/_snippets/contact-support.md"
