---
title: Offline verificatie met 121 en Kobo Toolbox
hide:
  - toc
---

Om offline verificatie soepel te laten verlopen, zijn er een paar stappen nodig. Hieronder vind je een stap-voor-stap handleiding.

!!! Success "Houd het 121-supportteam op de hoogte"
  Het offline verificatieproces vraagt om goede afstemming tussen ons supportteam en je veldteam. Om dit soepel te laten verlopen, maken we samen met je lokale team een duidelijk communicatieplan.

## Voor offline verificatie

De **eerste stap** is het voorbereiden van **Kobo voor offline verificatie**. Dit bestaat uit de volgende onderdelen:

### Maak het verificatieformulier gereed en laat het goedkeuren

Voordat de verificatie start, moet je het supportteam laten weten **welke informatie gecontroleerd moet worden**.

Het 121-supportteam neemt contact met je op om **de vereisten voor offline verificatie te bepalen**, een Kobo-formulier in te richten en dit met je te delen voor goedkeuring.

### Upload 121-data en bereid de training voor

Zodra het **formulier is goedgekeurd**, uploadt het 121-supportteam **alle verificatiedata** naar Kobo. Daarna organiseren we een train-de-trainer sessie, zodat jullie vrijwilligers of enumerators met het formulier kunnen werken.

### Laatste controles

Als je vrijwilligers zijn getraind, ben je bijna klaar voor veldverificatie. **Voordat je start**, zijn er twee belangrijke stappen:

- :fontawesome-solid-triangle-exclamation: **Informeer 121 support dat de veldverificatie kan starten**: ons supportteam zorgt dat de meest recente data in Kobo staat.
- :fontawesome-solid-triangle-exclamation: **Download de bijgewerkte en definitieve versie van de formulieren op alle apparaten** zodra 121 support bevestigt dat de nieuwste data beschikbaar is.

!!! danger "Belangrijk"
  Houd er rekening mee dat **alle data die tijdens veldverificatie wordt verzameld bestaande informatie in het 121-platform overschrijft**. Wij adviseren daarom om tijdens deze fase zo min mogelijk directe wijzigingen in het platform te doen.

## Tijdens offline verificatie

Gebruik je gebruikelijke SOP's om verzamelde informatie te verifiëren. Enkele tips om het proces soepel te laten verlopen:

- Zorg dat alle apparaten de nieuwste versie van het Kobo-formulier hebben;
- Test het formulier op elk apparaat om te bevestigen dat alles goed werkt;
- Zorg dat apparaten voldoende zijn opgeladen en neem indien nodig opladers mee als back-up;
- Zorg dat vrijwilligers en enumerators goed zijn getraind.

## Na offline verificatie

### Formulieren uploaden

Zodra de verificatie is afgerond, verbind je de apparaten met internet en upload je **ALLE** verzamelde Kobo-formulieren. Controleer daarna of alle wijzigingen correct zichtbaar zijn in het 121-platform.

---

-8<- "docs/nl/_snippets/contact-support.md"
