---
title: Offline Verification with 121 and Kobo Toolbox
hide:
  - toc
---

To make offline verification easy and smooth, there are a few steps needed to make sure you can do offline verification. Here’s a step-by-step guide.

!!! Success "Keep the 121 support team in the loop"
    The offline verification process requires a good coordination together with our support team and your field team. To ensure the process runs smoothly, we will elaborate a clear communication plan together with your local team.

## Before Offline Verification

The **first step** is to prepare **Kobo for offline verification**. It includes the following steps:

### Get the Verification Form Ready and Approved

Before starting verification, you need to **tell the 121 account manager** or support team what information you need to check during verification.

The 121 support team will reach out to you to **determine the requirements for the offline verification**. Then, our support team will setup a Kobo form and share with you so that you can approve the form.

### Upload 121 Data & Get ready for training

Once the **form is approved**, the 121 support team will **upload all the verification data** into Kobo. After that the 121 support team will do a training of trainers session, so that you can train your volunteers or enumerators to use the form.

### Final Checks

Once you have trained your volunteers, you are almost ready to start field verification. **Before you start**, there are two crucial steps to complete:

- :fontawesome-solid-triangle-exclamation: **Inform 121 support that field verification is ready to start**: our support team will make sure the latest data is available in Kobo for the verification process.
- :fontawesome-solid-triangle-exclamation: **Download the updated and final version of the forms to all devices** once our 121 support team has informed you that the latest data is available.

!!! danger "Important"
    Please keep in mind that **all data collected during field verification will overwrite existing information in the 121 platform**. It is advisable to make as little changes as possible directly in the 121 platform during data verification, so that no unnecessary mistakes are made.

## During Offline Verification

Use your usual SOPs to verify collected information. Here are a few tips to make sure everything runs smoothly:

- Ensure all devices have the most recent version of the Kobo form.
- Test the form on each device to confirm it works properly.
- Make sure devices are properly charged and/or bring a chargers as backup.
- Make sure volunteers and enumerators are trained properly.

## After Offline Verification

### Upload forms

Once verification is complete, connect your devices to the internet and make sure to upload **ALL** collected Kobo forms. Then check that all changes changes are correctly reflected on the 121 platform.

---

-8<- "docs/_snippets/contact-support.md"
